.btn-group {
    margin-top: 30px;
    padding: 6px 10px;
    border: 1px solid $bg-dark;
    background-color: $btn-bg;
    color: $btn-text;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-group > button {
    background-color: $btn-bg;
    color: $btn-text;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 20px;
    border-radius: 20px;
  }
  
  .btn-group > button:hover {
    background-color: $bg-dark;
    color: $btn-hover-text;
  }
  
  .btn-group > button.active-btn {
    background-color: $bg-dark;
    color: $btn-hover-text;
  }
  
  .btn1 {
    margin-right: 10px;
  }
  
  .btn3 {
    margin-left: 10px;
  }
  
  .mode-group {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }
  
  .mode-btn {
    padding: 6px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 20px;
    background-color: $bg-dark;
    color: $btn-text;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .mode-btn:hover {
    background-color: $bg-dark;
    color: $btn-text;
  }
  
  .mode-btn.active-mode {
    background-color: $btn-bg;
    color: $bg-dark;
  }