$bg-dark: #19243c;
$btn-bg: #3b4b6e;
$btn-text: #ffffffb7;
$btn-hover-text: #596786;
$border-teal: #508c9b;
$border-teal-hover: #508c9b33;
$bg-light: #eeeeee;
$text-color: #ffffffb7;
$hover-danger: #e74c3c;